<header class="header">
  <h2>Fotocopy Ilham</h2>
  <nav class="header-sidebar">
    <ul>
      <li>
        <a href="/"><b>Home</b></a>
      </li>
      <li>
        <a href="/product"><b>Produk</b></a>
      </li>
      <li>
        <a href="/contact"><b>Contact</b></a>
      </li>
    </ul>
  </nav>
</header>

<!-- Content -->
<main class="content">
  <!-- Heading -->
  <h2>
    Kami menyediakan alat tulis kantor mulai dari buku tulis, pulpen dan
    lain-lain.
  </h2>

  <!-- Content Item -->
  <section class="content-item">
    <!-- Dropdown Category-->
    <div class="menu-bar">
      <ul>
        <li>
          <a href="/product" id="category-btn"
            >Category <i class="fas fa-caret-down"></i
          ></a>
          <div class="dropdown-menu" id="category-dropdown">
            <ul>
              <li>
                <a href="#buku-tulis" class="category-link">Buku Tulis</a>
              </li>
              <li><a href="#kertas" class="category-link">Kertas</a></li>
              <li><a href="#pulpen" class="category-link">Pulpen</a></li>
              <li><a href="#pensil" clas s="category-link">Pensil</a></li>
              <li><a href="#penghapus" class="category-link">Penghapus</a></li>
              <li>
                <a href="#buku-gambar" class="category-link">Buku Gambar</a>
              </li>
              <li><a href="#lakban" class="category-link">Lakban</a></li>
              <li><a href="#marker" class="category-link">Marker</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    

  <!-- Buku -->
  <h3 class="label-category" id="buku-tulis">Buku</h3>
  <section class="item">
    <!-- 1 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/buku/big-boss.png" alt="Big Boss" />
        <h3 class="label-item">Big Boss</h3>
      </a>
    </article>
    <!-- 2 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/buku/kiky-38.jpg" alt="Kiky 38" />
        <h3 class="label-item">Kiky 38</h3>
      </a>
    </article>
    <!-- 3 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/buku/sidu-38.jpg" alt="Sidu 38" />
        <h3 class="label-item">Sidu 38</h3>
      </a>
    </article>
    <!-- 4 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/buku/sidu-58.jpg" alt="Sidu 58" />
        <h3 class="label-item">Sidu 58</h3>
      </a>
    </article>
  </section>

  <!-- Kertas  -->
  <h3 class="label-category" id="kertas">Kertas</h3>
  <section class="item">
    <article class="item-article">
      <a href="#">
        <img src="/gambar/kertas/kertas-hvs.jpeg" alt="Kertas HVS" />
        <h3 class="label-item">Kertas HVS</h3>
      </a>
    </article>
    <!-- 2 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/kertas/kertas-buffalo.jpg" alt="Kertas Buffalo" />
        <h3 class="label-item">Kertas Buffalo</h3>
      </a>
    </article>
    <!-- 3 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/kertas/kertas-karton.jpg" alt="Kertas Karton" />
        <h3 class="label-item">Kertas Karton</h3>
      </a>
    </article>
    <!-- 4 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/kertas/kertas-asturo.jpeg" alt="Kertas Asturo" />
        <h3 class="label-item">Kertas Asturo</h3>
      </a>
    </article>
    <!-- 5 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/kertas/kertas-folio.jpg" alt="Kertas Folio" />
        <h3 class="label-item">Kertas Folio</h3>
      </a>
    </article>
  </section>

  <!-- Pulpen -->
  <h3 class="label-category" id="pulpen">Pulpen</h3>
  <section class="item">
    <!-- 1 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/pulpen/ballpoint.jpeg" alt="Ballpoint" />
        <h3 class="label-item">Ballpoint</h3>
      </a>
    </article>
    <!-- 2 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/pulpen/pulpen-air.jpg" alt="Pulpen Air" />
        <h3 class="label-item">Pulpen Air</h3>
      </a>
    </article>
    <!-- 3 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/pulpen/pulpen-gel.webp" alt="Pulpen Gel" />
        <h3 class="label-item">Pulpen Gel</h3>
      </a>
    </article>
    <!-- 4 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/pulpen/pulpen-klik.jpg" alt="Pulpen Klik" />
        <h3 class="label-item">Pulpen Klik</h3>
      </a>
    </article>
    <!-- 5 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/pulpen/pulpen-minyak.jpeg" alt="Pulpen Minyak" />
        <h3 class="label-item">Pulpen Minyak</h3>
      </a>
    </article>
  </section>

  <!-- Pensil -->
  <h3 class="label-category" id="pensil">Pensil</h3>
  <section class="item">
    <!-- 1 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/pensil/pensil-2b.jpeg" alt="Pensil 2B" />
        <h3 class="label-item">Pensil 2B</h3>
      </a>
    </article>
    <!-- 2 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/pensil/pensil-3b.jpeg" alt="Pensil 3B" />
        <h3 class="label-item">Pensil 3B</h3>
      </a>
    </article>
  </section>

  <!-- Penghapus -->
  <h3 class="label-category" id="penghapus">Penghapus</h3>
  <section class="item">
    <!-- 1 -->
    <article class="item-article">
      <a href="#">
        <img
          src="/gambar/penghapus/penghapus-faber-castel.jpeg"
          alt="Pensil 2B"
        />
        <h3 class="label-item">Penghapus Faber Castell</h3>
      </a>
    </article>
    <!-- 2 -->
    <article class="item-article">
      <a href="#">
        <img
          src="/gambar/penghapus/penghapus-joyko.webp"
          alt="Penghapus Joyko"
        />
        <h3 class="label-item">Penghapus Joyko</h3>
      </a>
    </article>
    <!-- 3 -->
    <article class="item-article">
      <a href="#">
        <img
          src="/gambar/penghapus/penghapus-kenko.jpeg"
          alt="Penghapus Kenko"
        />
        <h3 class="label-item">Penghapus Kenko</h3>
      </a>
    </article>
  </section>

  <!-- Buku Gambar -->
  <h3 class="label-category" id="buku-gambar">Buku Gambar</h3>
  <section class="item">
    <!-- 1 -->
    <article class="item-article">
      <a href="#">
        <img
          src="/gambar/buku gambar/buku-gambar-a2.jpg"
          alt="Buku Gambar A2"
        />
        <h3 class="label-item">Buku Gambar A2</h3>
      </a>
    </article>
    <!-- 2 -->
    <article class="item-article">
      <a href="#">
        <img
          src="/gambar/buku gambar/buku-gambar-a3.jpg"
          alt="Buku Gambar A3"
        />
        <h3 class="label-item">Buku Gambar A3</h3>
      </a>
    </article>
    <!-- 3 -->
    <article class="item-article">
      <a href="#">
        <img
          src="/gambar/buku gambar/buku-gambar-f4.jpg"
          alt="Buku Gambar A4"
        />
        <h3 class="label-item">Buku Gambar A4</h3>
      </a>
    </article>
  </section>

  <!-- Lakban -->
  <h3 class="label-category" id="lakban">Lakban</h3>
  <section class="item">
    <!-- 1 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/lakban/stationery-tape.jpg" alt="Stationery Tape" />
        <h3 class="label-item">Stationery Tape</h3>
      </a>
    </article>
    <!-- 2 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/lakban/double-tape.jpg" alt="Double Tape" />
        <h3 class="label-item">Double Tape</h3>
      </a>
    </article>
  </section>

  <!-- Marker -->
  <h3 class="label-category" id="marker">Marker</h3>
  <section class="item">
    <!-- 1 -->
    <article class="item-article">
      <a href="#">
        <img
          src="/gambar/marker/marker-whiteboard.jpg"
          alt="Marker Whiteboard"
        />
        <h3 class="label-item">Marker Whiteboard</h3>
      </a>
    </article>
    <!-- 2 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/marker/marker-permanen.jpg" alt="Marker Permanen" />
        <h3 class="label-item">Marker Permanen</h3>
      </a>
    </article>
    <!-- 3 -->
    <article class="item-article">
      <a href="#">
        <img src="/gambar/marker/marker-mewarnai.webp" alt="Marker Mewarnai" />
        <h3 class="label-item">Marker Mewarnai</h3>
      </a>
    </article>
  </section>

  <!-- Button See More -->
  <div class="see-more-button">
    <a href="/product" class="see-more-link">
      <h3 class="see-more-label">Lihat Lebih Banyak ></h3>
    </a>
  </div>

  <!-- end main -->
</main>

<!-- footer -->
<div class="footer">
  <div class="footer-container">
    <!-- Kiri -->
    <div class="col-footer">
      <h3>Maps</h3>
      <br />
      <div class="map-container-footer">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2200.7976899517066!2d105.3011968568596!3d-5.375801527192036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e40db4ff944868d%3A0x5f00742fa434a52f!2sILHAM%20PHOTOCOPY!5e1!3m2!1sen!2sid!4v1734149179634!5m2!1sen!2sid"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>

    <!-- Tengah -->
    <div class="col-footer">
      <h3>Tentang Kami</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
        ex consectetur maiores asperiores sint voluptas voluptatibus, et
        consequuntur ea consequatur modi illo, earum tempore officia explicabo
        laudantium expedita quidem! Dolores!
      </p>
    </div>

    <!-- Kanan -->
    <div class="col-footer">
      <h3>Ikuti Kami</h3>
      <br />
      <a href="#">
        <img src="/gambar/ig.webp" alt="IG" />Instagram: @fotocopyilham
      </a>
    </div>
  </div>
</div>
